body {
    margin: 0px;
    background-color: rgba(128, 128, 128, 0.621);
}

.imprint {
    height: 80vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    color: red;
}

p {
    font-size: 16px;
}

@media(max-width:875px) {
    .imprint {
        margin-left: 50px;
        margin-right: 50px;
    }
    h1 {
        font-size: 24px;
        text-align: center;
    }
    p {
        font-size: 14px;
    }
}