body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
    position: absolute;
    top: 20%;
}

.d-none {
    display: ;
}

.info {
    position: relative;
    width: 100%;
}